body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px;
}

.container {
    margin: auto;
    background: rgb(230, 216, 216);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#log {
    margin-top: 20px;
    text-align: left;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #767373;
    padding: 10px;
    background: #f9f9f9;
}